body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
  }

.monitor{
    border: 2px solid steelblue;
    padding: 1rem 0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    min-height: 3rem;
}

.operation{
    font-size: 18px;
    text-align: start;
    padding-left: 10px;
}

.answer{
    font-size: 28px;
    text-align: end;
    padding-right: 10px;
}

.button{
    border: 1px solid steelblue;
    height: auto;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.2rem;
    min-width: 6rem;
    min-height: 10rem;
}

.container{
    max-width: 20rem;
    margin: auto;
}


